$color-black:#000;//黑色大标题文字，使用一般
$color-lightBlack:#333;//深色标题文字，使用较多
$color-grey:#666;//浅色文本文字，使用较多
$color-lightGrey:#999;//浅色文本文字，使用较多
$color-white:#fff;//白色文字
$color-green:#00ab84;//用于提示文字，按钮色
$color-orange:#f18d00;//用于提示文字，按钮色
$color-red:#ff0000;//警示性文字，提醒或删除类
$color-line:#d8d8d8;//线条色
$color-left-menu:#fbfbfb;//左侧2级菜单
$color-left-menu-active:#f5f5f5;//左侧2级菜单选中
$color-table-active:#fdfff0;//选中表单后颜色
$color-blue:#3983c2;//链接文字颜色